
  <header>
    <div class="header-form">
      <%= form_tag(root_path, :method => "get", id: "search-hashtag") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= number_field_tag :number, params[:number], placeholder: "# tweet", value: 8%>
          <%= select_tag :result, "<option selected='selected'>recent</option><option>popular</option>".html_safe %>
          <%= submit_tag "Search", class:"header-form-buttom"%>
      <% end %>
      </form>
    </div>
    <div class="header-nav">
      <ul></ul>
    </div>

  </header>
  <article>
    <div class="content">
      <% @twitts.each do |twitt| %>
        <div class="column">
          <div class="content-image">
            <% if twitt.media.any? %>
              <%= image_tag twitt.media[0].media_url, class: "twitter-image" %>
            <% else %>
              <%= image_tag twitt.user.profile_image_url, class: "twitter-image" %>
            <% end %>
            <%# byebug %>
            <span><%= twitt.user.name %></span>
          </div>
          <h4><%= twitt.text.first(70) %></h4>
          <ul style="align-self: flex-end;">
            <% if Favtweet.exists?(tweets: twitt.id) %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <% else %>
              <%= form_for @fave do |f| %>
                <% if twitt.media.any? %>
                  <%= f.hidden_field :image, value: twitt.media[0].media_url %>
                <% else %>
                  <%= f.hidden_field :image, value: twitt.user.profile_image_url %>
                <% end %>
                  <%= f.hidden_field :screen_name, value: twitt.user.screen_name %>
                  <%= f.hidden_field :text, value: twitt.text %>
                  <%= f.hidden_field :followers, value: twitt.user.followers_count %>
                  <%= f.hidden_field :name, value: twitt.user.name %>
                  <%= f.hidden_field :date, value: twitt.created_at %>
                  <%= f.hidden_field :tweets, value: twitt.id %>
                  <%= button_tag(type: "submit", class: "new_post_submit") do %>
                      <span><i class="fa fa-star-o" aria-hidden="true"></i></span>
                <% end %>
              <% end %>
            <% end %>
            <li><i class="fa fa-users" aria-hidden="true"></i></i>Followers: <%= twitt.user.followers_count %></li>
            <li><i class="fa fa-user" aria-hidden="true"></i></i>Screen Name: <%= twitt.user.screen_name %></li>
            <li><i class="fa fa-calendar-o" aria-hidden="true"></i><%= twitt.created_at.strftime("%F %R") %></li>
          </ul>
        </div>
        <%#= debug(twitt) %>
      <% end %>
    </div>
  </article>
